importFrom("methods", "as", "is")
importFrom("stats", "cor", "dnorm", "rchisq", "rgamma", "rnorm",
             "runif", "sd")
             
export(fitLSYS)
export(GD.SS)
export(GD)
export(GD.R)
export(GD0)
export(GD1)
export(GD_sparse)
export(GD.CV)
export(GDXy)
export(RR)
export(BMM)
export(BMM2)
export(BMM_old)
export(BMM_old2)
export(sample_effects)
export(rMultinom)
export(WSS)
export(LASSO)
export(LASSO.CD1)
export(RIDGE.CD)
export(PR)
export(PR2)

useDynLib(GPTL, .registration = TRUE, .fixes = "C_")
