export(fitLSYS)
export(GD.CV)
export(GD)
export(GD_sparse)
export(GD2)
export(GDXy)
export(GD.CV)
export(GD0)
export(GD.R)
export(RR)
export(BMM)
export(BMM_old)
export(BMM_old2)
export(sample_effects)
export(rMultinom)
export(WSS)
export(LASSO)
export(LASSO.CD1)
export(RIDGE.CD)
export(PR)
useDynLib(GPTL, .registration = TRUE, .fixes = "C_")
